
<section>
    <div id="content">
        <div class="skill-content">
            <div class="head">
                <img src=".\assets\image\logo.png" alt="">
                <p>erardi</p>
            </div>
            <div class="section-content">
                <div class="top-content">
                    <h2>What my colleagues say about me</h2>
                </div>
                <div class="bottom-content">
                    <div class="references-list">
                        <app-reference-list></app-reference-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <div></div>
            <a href=""></a>
        </div>
    </div> 
</section>