<section id="references">
    <div id="content">
        <div class="skill-content">
            <div class="section-content">
                <div class="top-content">
                    <h2 class="headline-desktop">What my colleagues say about me</h2>
                    <h2 class="headline-mobile">What my colleagues<br>say about me</h2>
                </div>
                <div class="bottom-content">
                    <div class="references-list">
                        <app-reference-list></app-reference-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href="#hero"></a>
            <a href="#about-me"></a>
            <a href="#skills"></a>
            <a href="#portfolio"></a>
            <div></div>
            <a href="#contact"></a>
        </div>
    </div> 
</section>