<section>
    <div id="content">
        <div class="about-content">
            <div class="head">
                <img class="logo" src=".\assets\image\logo.png" alt="">
                <p>erardi</p>
            </div>
            <div class="section-content">
                <div class="about-background">
                    <img src=".\assets\image\work_picture.jpg" alt="">
                    <h2>About me</h2>
                </div>
                <div class="about-container">
                    <p>Hey there ,I'm Jan. I’m Jan, passionate about IT and especially enjoying the creative side of coding with HTML and SCSS, turning ideas into visually engaging and functional experiences. I enjoy leading teams, tackling challenges, and continuously learning new technologies while contributing to innovative projects.</p>
                    <div class="about-more">
                        <button>Let's Talk</button>
                        <img src=".\assets\image\emoji.png" alt="Emoji">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href=""></a>
            <div></div>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div>  
</section>