<section id="about-me">
    <div id="content">
        <div class="about-content">
            <div class="section-content">
                <h2>{{ 'about-me.title' | translate }}</h2>
                <div class="about-background">
                    <img src=".\assets\image\work_picture.jpg" alt="">
                </div>
                <div class="about-container">
                    <p>{{ 'about-me.intro' | translate }}</p>
                    <div class="about-more">
                        <a href="#contact" class="button-link">{{ 'about-me.button' | translate }}</a>
                        <img src=".\assets\image\emoji.png" alt="Emoji" (mouseenter)="showOverlay()" (mouseleave)="hideOverlay()" (click)="showOverlayMobile()">
                    </div>
                </div>
                <div class="overlay" [class.open]="isOverlayOpen">
                    <div class="top-overlay">
                        <p>{{ 'about-me.overlay-title' | translate }}</p>
                        <img
                            class="close-icon"
                            src="./assets/image/close_mobile.png"
                            (click)="hideOverlay()"
                            />
                    </div>
                    <ul>
                        <li><img src=".\assets\image\check_circle.png" alt="">{{ 'about-me.list.item-1' | translate }}</li>
                        <li><img src=".\assets\image\check_circle.png" alt="">{{ 'about-me.list.item-2' | translate }}</li>
                        <li><img src=".\assets\image\check_circle.png" alt="">{{ 'about-me.list.item-3' | translate }}</li>
                        <li><img src=".\assets\image\check_circle.png" alt="">{{ 'about-me.list.item-4' | translate }}</li>
                        <li><img src=".\assets\image\check_circle.png" alt="">{{ 'about-me.list.item-5' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href="#hero"></a>
            <div></div>
            <a href="#skills"></a>
            <a href="#portfolio"></a>
            <a href="#references"></a>
            <a href="#contact"></a>
        </div>
    </div>  
</section>