<section>
    <div id="content">
        <div class="section-content">
            <div class="left-content">
                <p> Hello there! I'm</p>
                <h1>Jan<br>Gerardi</h1>
                <p>Frontend Developer</p>
                <button>Get in Touch</button>
                <div class="scroll-down">
                    <img src="./assets/image/scroll_down_symbol.png" alt="">
                    <img src="./assets/image/scroll_down_arrow.png" alt="">
                </div>
            </div>
            <div class="right-content">
                <img src="./assets/image/symbol_orange.png" alt="">
                <img src="./assets/image/front_picture.png" alt="">
            </div>
        </div>
        <div class="page-indicator">
            <div></div>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div>
</section>
