<section>
    <div id="content">
        <div class="section-content">
            <div class="left-content">
                <p> Hello there! I'm</p>
                <h1>Jan<br>Gerardi</h1>
                <p>Frontend Developer</p>
                <a href="#contact" class="button-link">Get in Touch</a>
            </div>
            <div class="right-content">
                <img src="./assets/image/symbol_orange.png" alt="">
                <img src="./assets/image/front_picture.png" alt="">
            </div>
        </div>
        <div class="scroll-down">
            <img src="./assets/image/scroll_down_symbol.png" alt="">
            <img src="./assets/image/scroll_down_arrow.png" alt="">
        </div>
        <div class="page-indicator">
            <div></div>
            <a href="#about-me"></a>
            <a href="#skills"></a>
            <a href="#portfolio"></a>
            <a href="#references"></a>
            <a href="#contact"></a>
        </div>
    </div>
</section>
