<section>
    <div id="content">
        <div class="section-content">
            <div class="left-section">
                <span> Hello there! I'm</span>
                <h1>Jan<br>Gerardi</h1>
                <span>Frontend Developer</span>
                <button>Get in Touch</button>
                <div class="scroll-down">
                    <img src="./assets/image/scroll_down_symbol.png" alt="">
                    <img src="./assets/image/scroll_down_arrow.png" alt="">
                </div>
            </div>
            <div class="right-section">
                <img src="" alt="">
                <img src=".\assets\image\symbol_orange.png" alt="">
            </div>
        </div>
        <div class="page-indicator">
            <div></div>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div>
</section>
