<header>
    <div id="content">
        <div id="contact-bar">
            <img
                class="github-icon"
                src="./assets/image/contact_icons/github.png"
                alt="GitHub Icon"
                onmouseover="this.src='./assets/image/contact_icons/github_hover.png';"
                onmouseout="this.src='./assets/image/contact_icons/github.png';"
            />
            <img
                class="mail-icon"
                src="./assets/image/contact_icons/mail.png"
                alt="Mail Icon"
                onmouseover="this.src='./assets/image/contact_icons/mail_hover.png';"
                onmouseout="this.src='./assets/image/contact_icons/mail.png';"
                />
        </div>
        <div>
            <img class="logo" src="./assets/image/logo.png" alt="">
        </div>
        <div id="menu-bar">
            <button>EN</button>
            <div class="burger-menu">&#9776;</div>
        </div>
    </div>
</header>
