<section id="contact">
    <div id="content">
        <div class="contact-content">
            <div class="section-content">
                <div class="left-content">
                    <h2>Let's build<br>something Cool together!</h2>
                    <p class="question">Are you interested?</p>
                    <p>With my combined expertise in frontend development and a strong foundation in project management, I bring real value to your projects. I work in a solution-oriented and collaborative way, always keeping user needs and project goals in focus. I'm especially motivated by the opportunity to actively contribute to the development and coordination of digital products—whether through hands-on coding or by facilitating communication between teams and stakeholders. My goal is not just to complete tasks, but to drive meaningful progress within the company.</p>
                </div>
                <div class="right-content">
                    <form onsubmit="return sendMail(event)">
                        <div class="top-formular">
                            <div>
                                <h3>What's your name?</h3>
                                <input type="text" name="name" required placeholder="Enter your Name">
                            </div>
                            <div>
                                <h3>What's your E-Mail?</h3>
                                <input type="email" name="email" required placeholder="youremail@email.com">
                            </div>
                        </div>
                        <div class="center-formular">
                            <h3>How can I help you?</h3>
                            <input name="message" required placeholder="Hello Jan, I am interested in ...">
                        </div>
                        <div class="privacy">
                            <input type="checkbox" id="checkbox" required>
                            <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data.</p>
                        </div>
                        <div class="button-formular">
                            <button type="submit">Drop a Line</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <div></div>
        </div>
    </div>
</section>

