<section id="contact">
    <div id="content">
        <div class="contact-content">
            <div class="section-content">
                <div class="left-content">
                    <h2 [innerHTML]="'contact.headline' | translate"></h2>
                    <p class="question">{{ 'contact.question' | translate }}</p>
                    <p>{{ 'contact.intro' | translate }}</p>
                </div>
                <div class="right-content">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete="off">
                        <div class="top-formular">
                            <div>
                                <label [class.focused]="nameFocused" for="name">{{ 'contact.labels.name' | translate }}</label>
                                <input [(ngModel)]="contactData.name" type="text" name="name"
                                [placeholder]="nameError ? ('contact.errors.nameRequired' | translate) : ('contact.placeholders.name' | translate)"
                                [class.error]="nameError" (focus)="nameError = false; nameFocused = true" (blur)="nameFocused = false" required>
                            </div>
                            <div>
                                <label [class.focused]="emailFocused" for="email">{{ 'contact.labels.email' | translate }}</label>
                                <input [(ngModel)]="contactData.email" type="email" name="email"
                                [placeholder]="emailEmptyError ? ('contact.errors.emailRequired' | translate) : ('contact.placeholders.email' | translate)"
                                [class.error]="emailEmptyError || emailInvalidError"
                                (focus)="emailEmptyError = false; emailInvalidError = false; emailFocused = true"
                                (blur)="emailFocused = false" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                                <p [class.visible]="emailInvalidError" class="error-message">{{ 'contact.errors.emailInvalid' | translate }}</p>
                            </div>
                        </div>
                        <div class="center-formular">
                            <label [class.focused]="messageFocused" for="message">{{ 'contact.labels.message' | translate }}</label>
                            <textarea [(ngModel)]="contactData.message" name="message" rows="1"
                            [placeholder]="textError ? ('contact.errors.messageRequired' | translate) : ('contact.placeholders.message' | translate)"
                            [class.error]="textError" (focus)="textError = false; messageFocused = true" (blur)="messageFocused = false" required></textarea>
                        </div>
                        <div class="privacy">
                            <div class="checkbox">
                                <input [(ngModel)]="contactData.privacy" type="checkbox" id="checkbox" name="privacy" 
                                [class.error]="privacyError" (change)="privacyError = false" required>
                                <span>
                                    {{ 'contact.privacyText.part1' | translate }}
                                    <a routerLink="/privacy-policy">{{ 'contact.privacyText.link' | translate }}</a>
                                    {{ 'contact.privacyText.part2' | translate }}
                                </span>
                            </div>
                            <p [class.visible]="privacyError" class="error-message">{{ 'contact.errors.privacyPolicy' | translate }}</p>
                        </div>
                        <div class="button-formular">
                            <p [class.visible]="submitSuccess" class="success-message">{{ 'contact.submitSuccess' | translate }}</p>
                            <button type="submit">{{ 'contact.submitButton' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href="#hero"></a>
            <a href="#about-me"></a>
            <a href="#skills"></a>
            <a href="#portfolio"></a>
            <a href="#references"></a>
            <div></div>
        </div>
    </div>
</section>