#references-list{
    width: 100%;
    padding-right: 50px;
    gap: 50px;
    
    .position-0 {
        margin-top: 0;
    }

    .position-1 {
        margin-top: 100px;
    }

    .position-2 {
        margin-top: 200px;
    }

    @media(max-width: 1260px) {
        flex-direction: column;
        gap: 30px;
        .position-0, .position-1, .position-2 {
            margin-top: 0;
        }
    }

    @media(max-width: 810px) {
        padding: 0;
    }
}