
<section>
    <div id="content">
        <div class="skill-content">
            <div class="head">
                <img src=".\assets\image\symbol_blue.png" alt="">
            </div>
            <div class="section-content">
                <div class="top-content">
                    <h2>Core Competencies</h2>
                    <div class="content-container">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vitae dolore debitis quod omnis sequi odio, natus architecto optio illo ipsam dolorum, dolor obcaecati provident possimus magnam, voluptates voluptas impedit.</p>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="study-container">
                        <div class="study-icon">
                            <img src=".\assets\image\symbol_orange.png" alt="">
                            <img src=".\assets\image\study_icon.png" alt="">
                        </div>
                    </div>
                    <div class="skill-list">
                        <app-skill-list></app-skill-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href=""></a>
            <a href=""></a>
            <div></div>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div> 
</section>