<section id="skills">
    <div id="content">
        <div class="skill-content">
            <div class="section-content">
                <div class="top-content">
                    <h2>{{ 'skills.title' | translate }}</h2>
                    <div class="content-container">
                        <p>{{ 'skills.intro' | translate }}</p>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="study-icon">
                        <img class="study-img" src=".\assets\image\study_icon.png" (mouseenter)="showOverlay()" (mouseleave)="hideOverlay()"  (click)="showOverlayMobile()">
                        <img class="rotating-img" src=".\assets\image\symbol_orange.png">
                    </div>
                    <div class="overlay" [class.open]="isOverlayOpen">
                        <div class="top-overlay">
                            <img
                            class="close-icon"
                            src="./assets/image/close_mobile.png"
                            (click)="hideOverlay()"
                            />
                        </div>
                        <p class="top-line" [innerHTML]="'skills.overlay.title' | translate"></p>
                        <p [innerHTML]="'skills.overlay.description' | translate"></p>
                        <div class="skills">
                            <div>
                                <img src="./assets/image/skills/css_icon.png">
                                <p>CSS</p>
                            </div>
                            <div>
                                <img src="./assets/image/skills/scrum_icon.png">
                                <p>Scrum</p>
                            </div>
                            <div>
                                <img src="./assets/image/skills/html_icon.png">
                                <p>HTML</p>
                            </div>
                        </div>
                    </div>
                    <div class="skill-list">
                        <app-skill-list></app-skill-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href="#hero"></a>
            <a href="#about-me"></a>
            <div></div>
            <a href="#portfolio"></a>
            <a href="#references"></a>
            <a href="#contact"></a>
        </div>
    </div> 
</section>