<section id="skills">
    <div id="content">
        <div class="skill-content">
            <div class="head">
                <img class="logo" src=".\assets\image\logo.png">
                <p>erardi</p>
            </div>
            <div class="section-content">
                <div class="top-content">
                    <h2>Core Competencies</h2>
                    <div class="content-container">
                        <p>I enjoy working with HTML and CSS, as it gives me the opportunity to build clear and responsive website structures. In doing so, I have gained initial experience in creating layouts that adapt to different devices and contribute to a positive user experience.</p>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="study-icon">
                        <img src=".\assets\image\symbol_orange.png" alt="">
                        <img src=".\assets\image\study_icon.png" alt="">
                    </div>
                    <div class="skill-list">
                        <app-skill-list></app-skill-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href=""></a>
            <a href=""></a>
            <div></div>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div> 
</section>