<section id="portfolio">
    <div id="content">
        <div class="portfolio-content">
            <div class="section-content">
                <div class="top-content">
                    <h2>My work</h2>
                    <div class="top-container">
                        <p>Explore a selection of my work here - Interact with the projects to see my skills in action.</p>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="project-window" [class.el-pollo-loco]="projects[currentIndex].title === 'El Pollo Loco'">
                        <img src=".\assets\image\symbol_orange.png">
                        <img [src]="projects[currentIndex].image">
                    </div>
                    <div class="project-interactions">
                        <div class="project-container">
                            <div class="top-project-container">
                                <h3>{{projects[currentIndex].title}}</h3>
                                <img src="./assets/image/check.png" (mouseenter)="showOverlay()" (mouseleave)="hideOverlay()"  (click)="showOverlayMobile()">
                            </div>
                            <p class="project-skill">{{projects[currentIndex].skills}}</p>
                            <p>{{projects[currentIndex].description}}</p>
                            <div class="github">
                                <a [href]="projects[currentIndex].github" target="_blank">GitHub</a>
                                <a [href]="projects[currentIndex].live" target="_blank">Live Test</a>
                            </div>
                        </div>
                        <div class="switch-buttons">
                            <button (click)="previousProject()"><< Previous project</button>
                            <button (click)="nextProject()">Next project >></button>
                        </div>
                        <div class="overlay" [class.open]="isOverlayOpen">
                            <p>{{projects[currentIndex].development}}</p>
                            <div class="close-overlay">
                                <img
                                class="close-icon"
                                src="./assets/image/close_mobile.png"
                                (click)="hideOverlay()"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href="#hero"></a>
            <a href="#about-me"></a>
            <a href="#skills"></a>
            <div></div>
            <a href="#references"></a>
            <a href="#contact"></a>
        </div>
    </div> 
</section>