
<section>
    <div id="content">
        <div class="portfolio-content">
            <div class="head">
                <img src=".\assets\image\symbol_blue.png" alt="">
            </div>
            <div class="section-content">
                <div class="top-content">
                    <h2>My work</h2>
                    <div class="top-container">
                        <p>Explore a selection of my work here - Interact with the projects to see my skills in action.</p>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="project-window">
                        <img src=".\assets\image\symbol_orange.png" alt="">
                        <img src=".\assets\image\join.png" alt="">
                    </div>
                    <div class="project-interactions">
                        <div class="project-container">
                            <div class="top-project-container">
                                <h3>Join</h3>
                                <img src="./assets/image/check.png" alt="">
                            </div>
                            <p>CSS</p>
                            <p>Hey there ,I'm Jan. I have a genuine passion for coding and always enjoy working on challenging technical problems. Over time, I’ve developed a strong interest in artificial intelligence and its potential to shape the future. I am someone who takes initiative and enjoys taking on responsibility within a team. My goal is to continuously grow in the IT field (both personally and professionally) and I’m excited to contribute my skills while learning from new experiences.</p>
                            <div class="github-buttons">
                                <button>GitHub</button>
                                <button>Live Test</button>
                            </div>
                        </div>
                        <div class="switch-buttons">
                            <button><< Previous project</button>
                            <button>Next project >></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-indicator">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <div></div>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div> 
</section>