<section>
    <h1>{{ 'privacy.title' | translate }}</h1>

    <h2>{{ 'privacy.section1.title' | translate }}</h2>
    <p>
    Jan Gerardi<br/>
    Neustädtischer Markt 14<br/>
    14776 Brandenburg, {{ 'privacy.section1.country' | translate }}<br/>
    E-Mail: jan_gerardi&#64;outlook.com
    </p>

    <h2>{{ 'privacy.section2.title' | translate }}</h2>
    <p>{{ 'privacy.section2.text' | translate }}</p>

    <h2>{{ 'privacy.section3.title' | translate }}</h2>
    <p>{{ 'privacy.section3.text' | translate }}</p>
    <ul>
    <li>{{ 'privacy.section3.list.0' | translate }}</li>
    <li>{{ 'privacy.section3.list.1' | translate }}</li>
    </ul>

    <h2>{{ 'privacy.section4.title' | translate }}</h2>
    <p>{{ 'privacy.section4.text' | translate }}</p>

    <h2>{{ 'privacy.section5.title' | translate }}</h2>
    <p>{{ 'privacy.section5.text' | translate }}</p>

    <h2>{{ 'privacy.section6.title' | translate }}</h2>
    <p>{{ 'privacy.section6.text' | translate }}
        <a
            href="https://policies.google.com/privacy"
            target="_blank"
            rel="noopener noreferrer">
            {{ 'privacy.section6.linkText' | translate }}
        </a>.
    </p>

    <h2>{{ 'privacy.section7.title' | translate }}</h2>
    <p>{{ 'privacy.section7.text' | translate }}</p>
    <ul>
        <li>{{ 'privacy.section7.list.0' | translate }}</li>
        <li>{{ 'privacy.section7.list.1' | translate }}</li>
        <li>{{ 'privacy.section7.list.2' | translate }}</li>
        <li>{{ 'privacy.section7.list.3' | translate }}</li>
        <li>{{ 'privacy.section7.list.4' | translate }}</li>
        <li>{{ 'privacy.section7.list.5' | translate }}</li>
    </ul>
    <p [innerHTML]="'privacy.section7.footer' | translate"></p>
</section>
