.skill {
    color: rgb(246, 246, 228);
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    padding-bottom: 0;
    font-size: 24px;

    @media(max-width: 1540px) {
        font-size: 20px;
    }

    @media(max-width: 690px) {
        padding: 20px 15px;
        padding-bottom: 0;
    }

    @media(max-width: 605px) {
        font-size: 16px;
    }

    @media(max-width: 350px) {
        padding: 20px 10px;
        padding-bottom: 0;
    }

    img {
        height: 100px;
        width: 100px;
        animation: breath 2s infinite;

        @media(max-width: 1540px) {
            height: 82px;
            width: 82px;
        }

        @media(max-width: 730px) {
            height: 70px;
            width: 70px;
        }

        @media(max-width: 410px) {
            height: 60px;
            width: 60px;
        }

        @media(max-width: 340px) {
            height: 48px;
            width: 48px;
        }
    }
}

@keyframes breath {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}