#skill-list{
    width: 100%;
    padding: 50px;
    flex-wrap: wrap;

    @media(max-width: 830px){
        padding-left: 0;
    }

    @media(max-width: 550px){
        padding-right: 0;
    }

    @media(max-width: 420px){
        padding: 0;
        padding-top: 50px;
    }
}