*{
    position: relative;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

header, section, footer{
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
}

#content{
    width: 100%;
    max-width: 1920px;
    height: 100%;
}