footer{
    background-color: rgb(34, 34, 34);
    color: rgb(246, 246, 228);
    margin-top: -2px;
}

#content{
    width: 100%;
    height: calc(150px + 1px);
    max-width: 1920px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    contain: layout;

    @media(max-width: 1415px) {
        padding: 0 50px;
        height: calc(120px + 1px);
    }

    @media(max-width: 1180px) {
        padding: 0 30px;
    }

    @media(max-width: 650px) {
        flex-direction: column;
        height: auto;

        #footer-symbols {
            order: 3;
        }

        #footer-contact {
            order: 2;
        }

        #footer-copy {
            order: 1;
        }
    }
}

#footer-symbols{
    height: 100%;
    width: 260px;
    display: flex;
    gap: 20px;

    @media(max-width: 1000px) {
        width: 200px;
    }

    @media(max-width: 780px) {
        height: 180px;
        width: 190px;
    }

    img:first-child {
        height: 120px;
        position: absolute;
        bottom: 0;
        left: 0;
        animation-name: spin;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media(max-width: 1000px) {
            height: 100px;
        }

        @media(max-width: 780px) {
            height: 80px;
        }
    }

    img:last-child {
        height: 190px;
        position: absolute;
        bottom: 0;
        right: 0;
        animation-name: spin;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;

        @media(max-width: 1000px) {
            height: 170px;
        }

        @media(max-width: 780px) {
            height: 150px;
        }
    }
}

#footer-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 350px;

    @media(max-width: 1000px) {
        width: 250px;
    }

    @media(max-width: 780px) {
        width: 180px;
    }

    @media(max-width: 650px) {
        padding-top: 20px;
        width: 100%;
        justify-content: space-around;
    }

    a{
        color: rgb(246, 246, 228);
        cursor: pointer;

        &:hover{
            color: rgb(255, 131, 79);
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}